@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import "normalize.scss";

$backroundColor: #505168;
$wrapperColor: #EAEFD3;
$mainFont: "Open Sans";

body {
  background-color: $backroundColor;
  margin: 0 auto;
  max-width: 60em;
  font-family: $mainFont;
}

.wrapper {
  display: grid;
  grid-gap: 0;
  grid-template-columns: 1fr;
  grid-template: "header" "content" "footer";
  padding: .3em;
  background-color: $wrapperColor;
}

header {
  grid-area: header;
  text-align: center;
}

.content {
  grid-area: content;
  h1 {
    text-align: center;
  }
}

footer {
  grid-area: footer;
  text-align: right;
  color: lighten(#000, 60%);
}
